<div class="container-fluid">
  <div class="row" style="height: 100vh; width: 100vw;">
    <%= render "share/side_content" %>
    <div class="col-9" style="height: 100vh;">
      <div style="height: 85%; overflow: scroll;">
        <div class="mt-5 border-bottom"style="width:100%;">
          <div style="line-height: 2px;">
            <p style="font-size: 20px;"><strong>大阪都構想について</strong></p>
            <p style="font-size: 10px;">投票数：30票</p>
            <p style="font-size: 10px;">作成日：2020-11-31</p>
          </div>
          <div class="my-1">
            <button type="button" class="btn btn-outline-info">#選挙</button>
            <button type="button" class="btn btn-outline-info">#大阪</button>
          </div>
          <div >
            <button class="btn btn-outline-dark pl-0"style="border: none; font-size: 20px;">
              <b>投票する</b>
            </button>
          </div>
        </div>
      </div>
      <a href="/ballot_boxes/new" class="container  btn btn-outline-danger d-flex justify-content-center align-items-center" style="height: 15%;">
        <div style="font-size: 200%">
          投票する
        </div>
      </a>
    </div>
  </div>
</div>